.address__partnership {
  font-family: @font-family-title;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black-light;
}

.address__address {
  line-height: 18px;
  color: @basic-grey-dark;
}
