.example {
  background-color: @special-grey-lighter;
}

.example__title {
  font-family: @font-family-title;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.example__text {
  color: @basic-grey-dark;
}

.example__price {
  font-family: @font-family-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
