.example {
  background-color: @special-grey-lighter;
}

.example__container {
  display: grid;
}

.example__title {
  font-family: @font-family-title;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.example__text {
  color: @basic-grey-dark;
}

.example__indicators-and-price {
  display: grid;
}

.example__indicators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;
}

.example__price {
  font-family: @font-family-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: @tablet-width) {
  .example__indicators-and-price {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .example__container {
    grid-template-columns: 1fr 1fr;
  }

  .example__indicators-and-price {
    grid-template-columns: 1fr;
  }
}
