.product-card {
  border-top: 1px solid @special-grey-light;
}

.product-card__title {
  font-family: @font-family-title;
  color: @basic-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.product-card__name-attribut,
.product-card__value-attribut {
  color: @basic-grey-dark;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.product-card__button {
  background-color: @basic-green;
  color: @basic-white;
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .product-card {
    border-top: none;
    background-color: @basic-grey-lighter;
  }

  .product-card__button {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    border-top: none;
    background-color: @basic-grey-lighter;
  }

  .product-card__button {
    margin-left: 38px;
    margin-right: 38px;
  }
}
