.program-selection__text {
  font-family: @font-family-title;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.program-selection__layout {
  display: grid;
}

.program-selection__layout--2-4-columns,
.program-selection__layout--2-columns {
  display: grid;
}

.program-selection__title {
  font-family: @font-family-title;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  padding-top: 24px;
  margin-bottom: 31px;
}

.program-selection__group {
  border: none;
  padding: 0;
  padding-bottom: 8px;
}

.program-selection__group--cat {
  border-bottom: 1px solid @special-grey-darker;
}

.program-selection__group--program {
  padding-bottom: 0;
  border-bottom: 1px solid @special-grey-darker;
}

.program-selection__group--contacts {
  & .program-selection__title {
    margin-bottom: 33px;
  }
}

.program-selection__group--comment {
  padding-bottom: 7px;

  & .program-selection__title {
    padding-top: 5px;
    margin-bottom: 34px;
  }

  & .program-selection__field {
    min-height: 136px;
    width: calc(100% - 33px);
    padding-top: 10px;
  }
}

.program-selection__group--additional {
  & .program-selection__title {
    padding-top: 0;
    margin-bottom: 12px;
  }

  & .program-selection__label {
    padding-left: 45px;
    margin-bottom: 12px;
  }
}

.program-selection__list {
  list-style: none;
  padding: 0;
}

.program-selection__item {
  position: relative;
  display: flex;
}

.program-selection__item--email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 15px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.program-selection__item--phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.program-selection__label {
  font-family: @font-family-title;
  font-size: 16px;
  text-transform: uppercase;
  color: @basic-grey-dark;
  padding-right: 14px;
  white-space: nowrap;
  padding-top: 13px;
}

.program-selection__field {
  width: 100%;
  height: 40px;
  border: 1px solid @special-grey;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: @font-family-title;
  color: @basic-grey-dark;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    font-family: @font-family-title;
    font-size: 16px;
    text-transform: uppercase;
    color: @basic-grey-dark;
  }

  &:hover,
  &:focus {
    border-color: @special-grey-dark;
  }

  &:active {
    border-color: @basic-grey-dark;
  }

  & .error {
    border-color: @error-color;
  }
}

.program-selection__radio {
  & + label {
    margin-left: 45px;
    margin-bottom: 12px;
  }

  & + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 13px;
    height: 13px;
    background-color: @basic-white;
    border-radius: 50%;
    border: 7px solid @basic-white;
    filter: drop-shadow(0 0 1px @special-grey-dark);
  }

  &:checked + label::before {
    background-color: @basic-green;
  }

  &:hover + label::before {
    filter: drop-shadow(0 0 1px @basic-grey-light);
  }

  &:active + label {
    opacity: 0.3;
  }
}

.program-selection__checkbox {
  & + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 28px;
    height: 28px;
    background-color: @basic-white;
    border: 1px solid @special-grey-dark;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 7px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover + label::before {
    border-color: @basic-grey-light;
  }

  &:active + label {
    opacity: 0.3;
  }
}

.program-selection__button {
  background-color: @basic-green;
  color: @basic-white;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;

  &:hover,
  &:focus {
    background-color: @basic-green-dark;
  }

  &:active {
    background-color: @basic-green-dark;
  }

  &:active span {
    opacity: 0.3;
  }
}

.program-selection__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .program-selection .container {
    padding-left: 70px;
    padding-right: 65px;
  }

  .program-selection__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    margin-top: -27px;
  }

  .program-selection__title {
    font-size: 36px;
    line-height: 36px;
  }

  .program-selection__group--cat {
    border-bottom: none;
    margin-bottom: 45px;
  }

  .program-selection__group--program {
    border: 1px solid @special-grey-darker;
    margin-bottom: 51px;
  }

  .program-selection__group--contacts {
    margin-bottom: 32px;

    & .program-selection__title {
      margin-bottom: 77px;
    }
  }

  .program-selection__group--comment {
    margin-bottom: 34px;

    & .program-selection__title {
      margin-bottom: 76px;
    }

    & .program-selection__field {
      min-height: 157px;
      width: calc(100% - 42px);
    }
  }

  .program-selection__group--additional {
    & .program-selection__title {
      margin-bottom: 36px;
    }

    & .program-selection__label {
      padding-left: 56px;
      margin-bottom: 28px;
    }
  }

  .program-selection__radio {
    & + label {
      margin-left: 85px;
    }

    & + label::before {
      left: 27px;
      top: 9px;
      width: 18px;
      height: 18px;
      border: 10px solid @basic-white;
    }
  }

  .program-selection__checkbox {
    & + label::before {
      width: 38px;
      height: 38px;
    }

    &:checked + label::after {
      top: 21px;
      left: 9px;
    }
  }

  .program-selection__item--email::after {
    top: 19px;
  }

  .program-selection__item--phone::after {
    top: 15px;
  }

  .program-selection__button {
    font-size: 20px;
  }

  .program-selection__footnote {
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
  }

  .program-selection__label {
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__field {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .program-selection__layout--2-columns {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 65px;
  }

  .program-selection__layout--2-4-columns {
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    margin-bottom: 83px;
  }

  .program-selection .container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .program-selection__group--cat {
    margin-bottom: 0;
  }

  .program-selection__group--program {
    margin-bottom: 45px;
  }

  .program-selection__layout {
    grid-template-columns: 1fr 1fr;
    column-gap: 75px;
    margin-bottom: 2px;
  }

  .program-selection__layout--2-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }

  .program-selection__button {
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .program-selection__footnote {
    display: none;
  }
}
