.promo {
  min-height: 487px;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.promo__container {
  background-color: @basic-green-dark;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 305px;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__top {
  position: relative;
}

.promo__title {
  font-family: @font-family-title;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  font-weight: normal;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
}

.promo__subtitle {
  font-family: @font-family-title;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
  padding-bottom: 15px;
}

.promo__img {
  position: absolute;
  left: calc(50% - 140px);
}

.promo__bottom {
  align-self: end;
}

.promo__button {
  display: block;
  background-color: @basic-green;
  color: @basic-white;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 8px;
  margin-top: -45px;

  &:hover,
  &:focus {
    background-color: @basic-green-dark;
  }

  &:active span {
    background-color: @basic-green-dark;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    min-height: 872px;
    position: relative;
  }

  .promo__container {
    background-color: @basic-white;
    background-image: url("../img/index-background-index-can-tablet@1x.jpg");
    text-align: left;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    padding-left: 87px;
    padding-top: 40px;
  }

  .promo__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    padding-left: 87px;
    padding-top: 8px;
    margin-bottom: 5px;
  }

  .promo__img {
    position: static;
    display: block;
    margin: 0 auto;
    // width: 100%;
  }

  .promo__button {
    font-size: 20px;
    line-height: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 87px;
    position: absolute;
    top: 315px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    position: relative;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
    min-height: 565px;
    margin-bottom: 84px;
  }

  .promo__container {
    background-color: @basic-white;
    background-image: none;
    max-width: 610px;
    text-align: left;
    margin-left: auto;
    margin-right: 115px;
  }

  .promo__top {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .promo__title {
    color: @basic-black;
    padding-top: 95px;
    padding-left: 55px;
  }

  .promo__subtitle {
    color: @basic-black;
    padding-left: 55px;
  }

  .promo__img {
    position: absolute;
    top: 10px;
    left: 420px;
    z-index: 10;
    max-width: 552px;
  }

  .promo__bottom {
    align-self: stretch;
    background-color: @basic-green-dark;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .promo__button {
    position: absolute;
    left: -618px;
    top: 372px;
  }
}
