.promo__container {
  background-color: @basic-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 305px;
  text-align: center;
}

.promo__title {
  font-family: @font-family-title;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  font-weight: normal;
}

.promo__subtitle {
  font-family: @font-family-title;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
}

.promo__button {
  background-color: @basic-green;
  color: @basic-white;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .promo__container {
    background-color: @basic-white;
    background-image: none;
    text-align: left;
  }

  .promo__title {
    color: @basic-black;
  }

  .promo__subtitle {
    color: @basic-black;
  }
}

@media (min-width: @desktop-width) {
  .promo__container {
    background-color: @basic-white;
    background-image: none;
    text-align: left;
  }

  .promo__title {
    color: @basic-black;
  }

  .promo__subtitle {
    color: @basic-black;
  }
}
