.show-all {
  border-bottom: 1px solid @special-grey-light;
}
.show-all__title {
  font-family: @font-family-title;
  color: @basic-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.show-all__text {
  color: @basic-grey-dark;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.show-all__button {
  background-color: @basic-grey-lighter;
  color: @basic-black;
  text-decoration: none;
}
