.social__list {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  column-gap: 30px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 2px;
}

.social__item {
  text-align: center;
}

.social__link {
  svg {
    fill: #666666;
  }

  &:hover svg,
  &:focus svg {
    fill: @basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.social__link--vkontakte svg {
  margin-right: -7px;
}

.social__link--facebook svg {
  width: 13px;
  height: 20px;
  margin-top: -3px;
  margin-left: -11px;
}

@media (min-width: @tablet-width) {
  .social__list {
    column-gap: 22px;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 22px;
    margin-right: 0;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 15px;
    height: 28px;
    margin-top: -5px;
    margin-left: -6px;
  }
}
