.container {
  padding: 0 20px;
  min-width: 280px;
  max-width: 1220px;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 110px;
  }
}
.button {
  font-family: "Oswald";
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  line-height: 18px;
}
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
.additional-products-card {
  border-top: 1px solid #EBEBEB;
}
.additional-products-card:last-of-type {
  border-bottom: 1px solid #EBEBEB;
}
.additional-products-card div {
  display: flex;
  justify-content: space-between;
}
.additional-products-card__title {
  font-family: "Oswald";
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}
.additional-products-card__measure,
.additional-products-card__price {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}
.additional-products-card__price {
  text-transform: uppercase;
}
.additional-products-card__button {
  background-color: #68B738;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 14px;
  margin-bottom: 18px;
}
.additional-products-card__button:hover,
.additional-products-card__button:focus {
  background-color: #5EAA2F;
}
.additional-products-card__button:active {
  background-color: #5EAA2F;
}
.additional-products-card__button:active span {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .additional-products-card {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .additional-products-card div {
    justify-content: flex-end;
  }
  .additional-products-card__title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
  }
  .additional-products-card__measure,
  .additional-products-card__price {
    padding-top: 3px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
  }
  .additional-products-card__button {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .additional-products-card {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .additional-products-card__title {
    width: 245px;
    margin: auto 0;
    margin-right: 80px;
  }
  .additional-products-card__measure {
    width: 200px;
    margin: auto 0;
    margin-right: 40px;
  }
  .additional-products-card__price {
    width: 50px;
    margin: auto 0;
    margin-right: 40px;
  }
  .additional-products-card__button {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 95px;
    padding-right: 95px;
  }
}
.additional-products__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 15px;
}
.additional-products__content {
  display: grid;
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 42px;
    padding-bottom: 48px;
    padding-left: 38px;
  }
  .additional-products__item {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
  }
}
@media (min-width: 1200px) {
  .additional-products {
    margin-bottom: 82px;
  }
  .additional-products__content {
    grid-template-columns: 74% 20%;
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
  .additional-products__title {
    padding-bottom: 50px;
    padding-left: 0;
  }
  .additional-products__item {
    border-left: none;
    border-right: none;
  }
}
.address {
  padding-top: 13px;
  padding-bottom: 13px;
}
.address__partnership {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 10px;
}
.address__address {
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .address {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .address__partnership {
    font-size: 20px;
    line-height: 25px;
  }
  .address__address {
    font-size: 16px;
    text-align: right;
  }
  .address__address span {
    display: block;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .address__address {
    text-align: left;
  }
}
.contacts {
  display: grid;
  position: relative;
  background-color: #F2F2F2;
}
.contacts--index {
  background-color: #ffffff;
}
.contacts__address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: space-between;
}
.contacts__map {
  width: 100%;
  height: 362px;
  background-color: #BABABA;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
@media (min-width: 768px) {
  .contacts__address {
    -moz-column-gap: 313px;
         column-gap: 313px;
  }
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    display: block;
  }
  .contacts__address {
    position: absolute;
    -moz-column-gap: 85px;
         column-gap: 85px;
    background-color: #ffffff;
    width: 35%;
    top: 95px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .contacts__map {
    height: 400px;
    margin-bottom: -5px;
  }
}
.copyright:active .copyright__text {
  opacity: 0.3;
}
.copyright .copyright__logo svg {
  fill: #666666;
}
.copyright:hover .copyright__logo svg,
.copyright:focus .copyright__logo svg {
  fill: #68B738;
}
.copyright:active .copyright__logo {
  opacity: 0.3;
}
.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding-top: 7px;
}
@media (min-width: 768px) {
  .copyright__text {
    margin-right: 22px;
  }
}
@media (min-width: 1200px) {
  .copyright__text {
    margin-right: 22px;
  }
}
.example {
  background-color: #eaeaea;
}
.example__container {
  display: grid;
}
.example__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 34px;
}
.example__text {
  color: #444444;
  margin-bottom: 10px;
}
.example__indicators-and-price {
  display: grid;
  padding-top: 15px;
  padding-bottom: 22px;
}
.example__indicators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;
}
.example__price {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
.example__price br {
  display: none;
}
.example__img {
  display: block;
  margin: 0 auto;
  max-width: 320px;
}
.example__slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding-top: 30px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    position: relative;
  }
  .example::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 43%;
    bottom: 0;
    background-color: #eaeaea;
    z-index: 0;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 66px;
  }
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
  .example__indicators {
    grid-template-columns: 162px 162px;
    -moz-column-gap: 44px;
         column-gap: 44px;
    padding-top: 28px;
  }
  .example__price {
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    padding-top: 15px;
  }
  .example__price br {
    display: block;
  }
  .example__indicators-and-price {
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .example__img {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    max-width: 690px;
  }
  .example__slider {
    -moz-column-gap: 470px;
         column-gap: 470px;
    margin-bottom: 70px;
    margin-top: -8px;
  }
}
@media (min-width: 1200px) {
  .example {
    border-top: none;
  }
  .example::before {
    height: 74%;
  }
  .example__container {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 95px;
         column-gap: 95px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .example__title {
    margin-top: 23px;
    margin-bottom: 147px;
  }
  .example__text {
    position: relative;
    z-index: 1;
    padding-top: 5px;
  }
  .example__indicators-and-price {
    position: relative;
    z-index: 1;
    grid-template-columns: 1fr;
  }
  .example__indicators {
    padding-top: 42px;
  }
  .example__price {
    text-align: left;
    padding-top: 37px;
  }
  .example__price br {
    display: none;
  }
  .example__price span {
    margin-left: 61px;
  }
  .example__img {
    padding-top: 0;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: -90px;
  }
  .example__slider {
    margin-left: -122px;
  }
}
.how-it-works {
  margin-bottom: 29px;
}
.how-it-works__title {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin-top: 0;
}
.how-it-works__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.how-it-works__list .how-it-works__item--1::after {
  background-image: url("../img/advantage-leaf@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .how-it-works__list .how-it-works__item--1::after {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}
.how-it-works__list .how-it-works__item--2::after {
  background-image: url("../img/advantage-powder@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .how-it-works__list .how-it-works__item--2::after {
    background-image: url("../img/advantage-powder@2x.png");
  }
}
.how-it-works__list .how-it-works__item--3::after {
  background-image: url("../img/advantage-dining@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .how-it-works__list .how-it-works__item--3::after {
    background-image: url("../img/advantage-dining@2x.png");
  }
}
.how-it-works__list .how-it-works__item--4::after {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .how-it-works__list .how-it-works__item--4::after {
    background-image: url("../img/advantage-clock@2x.png");
  }
}
.how-it-works__item {
  position: relative;
  color: #444444;
  min-height: 60px;
  margin-bottom: 10px;
  margin-left: 80px;
  padding-top: 10px;
}
.how-it-works__item::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  left: -80px;
  top: 6px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
@media (min-width: 768px) {
  .how-it-works {
    margin-bottom: 90px;
  }
  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 7px;
  }
  .how-it-works__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 115px;
    padding-top: 16px;
  }
  .how-it-works__list .how-it-works__item--1::before {
    content: "1";
  }
  .how-it-works__list .how-it-works__item--2::before {
    content: "2";
  }
  .how-it-works__list .how-it-works__item--3::before {
    content: "3";
  }
  .how-it-works__list .how-it-works__item--4::before {
    content: "4";
  }
  .how-it-works__item {
    margin-left: 0;
    padding-top: 119px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }
  .how-it-works__item::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 6px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 14px 15px;
  }
  .how-it-works__item::before {
    font-size: 280px;
    position: absolute;
    font-family: "Oswald";
    color: #F2F2F2;
    right: 26%;
    top: 93px;
  }
  .how-it-works__text {
    position: relative;
    z-index: 100;
  }
}
@media (min-width: 1200px) {
  .how-it-works__title {
    padding-top: 32px;
  }
  .how-it-works__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 75px;
  }
  .how-it-works__item {
    padding-right: 10px;
  }
  .how-it-works__item::before {
    right: 0;
  }
}
.indicators__item {
  display: grid;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  height: 53px;
}
.indicators__value {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 10px;
}
.indicators__name {
  font-size: 12px;
  line-height: 12px;
  font-family: #444444;
  color: #444444;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .indicators__item {
    height: 69px;
  }
  .indicators__value {
    font-size: 30px;
    line-height: 37px;
  }
  .indicators__name {
    font-size: 14px;
    line-height: 14px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .indicators__name {
    background-color: #eaeaea;
  }
}
.main-nav__toggle {
  width: 64px;
  height: 66px;
  cursor: pointer;
  border: none;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav {
    margin-left: 20px;
    padding-top: 13px;
  }
  .main-nav__list {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    padding-top: 6px;
    z-index: 5;
  }
}
@media (max-width: 767px) {
  .main-nav--closed {
    display: none;
  }
}
.page {
  height: 100%;
  font-family: "Arial", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  display: grid;
  min-height: 100%;
  margin: 0;
}
.page-footer {
  background-color: #F2F2F2;
}
.page-footer__container {
  display: grid;
}
.page-footer__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D9D9D9;
}
.page-footer__logo img:hover,
.page-footer__logo img:focus {
  opacity: 0.8;
}
.page-footer__logo img:active {
  opacity: 0.6;
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  padding-top: 22px;
  border-top: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer {
    min-height: 128px;
    padding-top: 22px;
  }
  .page-footer__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-footer__logo {
    text-align: left;
    border-bottom: none;
  }
  .page-footer__social {
    padding-top: 17px;
  }
  .page-footer__copyright {
    justify-content: flex-end;
    border-top: none;
    padding-top: 33px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    min-height: 125px;
    padding-top: 25px;
  }
  .page-footer__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-footer__logo {
    text-align: left;
    border-bottom: none;
  }
  .page-footer__copyright {
    justify-content: flex-end;
    border-top: none;
    padding-top: 33px;
  }
}
.page-header {
  border-bottom: 1px solid #D9D9D9;
}
.page-header--index {
  border-bottom: none;
}
.page-header__container {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 12px;
  padding-bottom: 14px;
}
.page-header--nojs .page-header__nav-button {
  display: none;
}
.page-header__nav-button {
  width: 60px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 24px;
}
.page-header__nav-button--close {
  background-image: url("../img/icon-close.svg");
  background-size: 18px;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    border-bottom: none;
  }
  .page-header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
  }
}
@media (min-width: 1200px) {
  .page-header--index::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #5EAA2F;
  }
  .page-header .container {
    padding-top: 42px;
  }
}
@media (min-width: 767px) {
  .page-header__nav-button {
    display: none;
  }
}
.page-main__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  padding-bottom: 19px;
}
.page-main__title--form {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 40px;
  }
  .page-main__title--form {
    padding-top: 8px;
  }
}
@media (min-width: 1200px) {
  .page-main__title {
    padding-top: 20px;
  }
}
.products__container {
  display: grid;
}
@media (min-width: 768px) {
  .products__container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .products__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 6%;
         column-gap: 6%;
    row-gap: 60px;
  }
}
.present {
  background-color: #68B738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .present {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}
.present__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 176px;
  text-align: center;
}
@media (min-width: 768px) {
  .present {
    min-height: 200px;
    margin-top: 67px;
    margin-bottom: 77px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }
  .present__text {
    padding-left: 423px;
    padding-right: 124px;
    text-align: left;
    padding-top: 60px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .present {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .present {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }
  .present__text {
    padding-left: 42px;
    padding-right: 42px;
    text-align: center;
    padding-top: 185px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .present {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #EBEBEB;
}
.product-card__description {
  text-align: left;
}
.product-card__table {
  width: 100%;
  border-spacing: 0;
}
.product-card__link {
  text-decoration: none;
}
.product-card__title {
  font-family: "Oswald";
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.product-card__name-attribut,
.product-card__value-attribut {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.product-card__value-attribut {
  text-align: right;
}
.product-card__button {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #68B738;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
  margin-top: -4px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.product-card__button:hover,
.product-card__button:focus {
  background-color: #5EAA2F;
}
.product-card__button:active {
  background-color: #5EAA2F;
}
.product-card__button:active span {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: none;
    background-color: #F2F2F2;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 78px;
    position: relative;
  }
  .product-card__img {
    position: absolute;
    left: calc(50% - 163px);
    bottom: 298px;
  }
  .product-card__table {
    border-spacing: 0 12px;
  }
  .product-card__table th {
    padding-bottom: 2px;
    border-bottom: 1px solid #CDCDCD;
  }
  .product-card__title {
    color: #222222;
    font-size: 20px;
    line-height: 24px;
    padding-top: 165px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .product-card__name-attribut,
  .product-card__value-attribut {
    font-size: 16px;
    line-height: 16px;
  }
  .product-card__button {
    margin-bottom: 38px;
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .product-card {
    margin-top: 83px;
  }
  .product-card__img {
    left: calc(50% - 122px);
    bottom: 312px;
  }
  .product-card__title {
    padding-top: 162px;
  }
  .product-card__button {
    margin-left: 0;
    margin-right: 0;
  }
}
.program-selection__text {
  font-family: "Oswald";
  text-transform: uppercase;
  margin-bottom: 37px;
}
.program-selection__layout {
  display: grid;
}
.program-selection__layout--2-4-columns,
.program-selection__layout--2-columns {
  display: grid;
}
.program-selection__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  padding-top: 24px;
  margin-bottom: 31px;
}
.program-selection__group {
  border: none;
  padding: 0;
  padding-bottom: 8px;
}
.program-selection__group--cat {
  border-bottom: 1px solid #D9D9D9;
}
.program-selection__group--program {
  padding-bottom: 0;
  border-bottom: 1px solid #D9D9D9;
}
.program-selection__group--contacts .program-selection__title {
  margin-bottom: 33px;
}
.program-selection__group--comment {
  padding-bottom: 7px;
}
.program-selection__group--comment .program-selection__title {
  padding-top: 5px;
  margin-bottom: 34px;
}
.program-selection__group--comment .program-selection__field {
  min-height: 136px;
  width: calc(100% - 33px);
  padding-top: 10px;
}
.program-selection__group--additional .program-selection__title {
  padding-top: 0;
  margin-bottom: 12px;
}
.program-selection__group--additional .program-selection__label {
  padding-left: 45px;
  margin-bottom: 12px;
}
.program-selection__list {
  list-style: none;
  padding: 0;
}
.program-selection__item {
  position: relative;
  display: flex;
}
.program-selection__item--email {
  position: relative;
}
.program-selection__item--email::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 15px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program-selection__item--phone {
  position: relative;
}
.program-selection__item--phone::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program-selection__label {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  padding-right: 14px;
  white-space: nowrap;
  padding-top: 13px;
}
.program-selection__field {
  width: 100%;
  height: 40px;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Oswald";
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.program-selection__field::-moz-placeholder {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.program-selection__field::placeholder {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.program-selection__field:hover,
.program-selection__field:focus {
  border-color: #CDCDCD;
}
.program-selection__field:active {
  border-color: #444444;
}
.program-selection__field .error {
  border-color: #FF8282;
}
.program-selection__radio + label {
  margin-left: 45px;
  margin-bottom: 12px;
}
.program-selection__radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 7px solid #ffffff;
  -webkit-filter: drop-shadow(0 0 1px #CDCDCD);
          filter: drop-shadow(0 0 1px #CDCDCD);
}
.program-selection__radio:checked + label::before {
  background-color: #68B738;
}
.program-selection__radio:hover + label::before {
  -webkit-filter: drop-shadow(0 0 1px #BABABA);
          filter: drop-shadow(0 0 1px #BABABA);
}
.program-selection__radio:active + label {
  opacity: 0.3;
}
.program-selection__checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
}
.program-selection__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program-selection__checkbox:hover + label::before {
  border-color: #BABABA;
}
.program-selection__checkbox:active + label {
  opacity: 0.3;
}
.program-selection__button {
  background-color: #68B738;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
}
.program-selection__button:hover,
.program-selection__button:focus {
  background-color: #5EAA2F;
}
.program-selection__button:active {
  background-color: #5EAA2F;
}
.program-selection__button:active span {
  opacity: 0.3;
}
.program-selection__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .program-selection .container {
    padding-left: 70px;
    padding-right: 65px;
  }
  .program-selection__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    margin-top: -27px;
  }
  .program-selection__title {
    font-size: 36px;
    line-height: 36px;
  }
  .program-selection__group--cat {
    border-bottom: none;
    margin-bottom: 45px;
  }
  .program-selection__group--program {
    border: 1px solid #D9D9D9;
    margin-bottom: 51px;
  }
  .program-selection__group--contacts {
    margin-bottom: 32px;
  }
  .program-selection__group--contacts .program-selection__title {
    margin-bottom: 77px;
  }
  .program-selection__group--comment {
    margin-bottom: 34px;
  }
  .program-selection__group--comment .program-selection__title {
    margin-bottom: 76px;
  }
  .program-selection__group--comment .program-selection__field {
    min-height: 157px;
    width: calc(100% - 42px);
  }
  .program-selection__group--additional .program-selection__title {
    margin-bottom: 36px;
  }
  .program-selection__group--additional .program-selection__label {
    padding-left: 56px;
    margin-bottom: 28px;
  }
  .program-selection__radio + label {
    margin-left: 85px;
  }
  .program-selection__radio + label::before {
    left: 27px;
    top: 9px;
    width: 18px;
    height: 18px;
    border: 10px solid #ffffff;
  }
  .program-selection__checkbox + label::before {
    width: 38px;
    height: 38px;
  }
  .program-selection__checkbox:checked + label::after {
    top: 21px;
    left: 9px;
  }
  .program-selection__item--email::after {
    top: 19px;
  }
  .program-selection__item--phone::after {
    top: 15px;
  }
  .program-selection__button {
    font-size: 20px;
  }
  .program-selection__footnote {
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
  }
  .program-selection__label {
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__field {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__field::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__field::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__layout--2-columns {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
    margin-bottom: 65px;
  }
  .program-selection__layout--2-4-columns {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 58px;
         column-gap: 58px;
  }
}
@media (min-width: 1200px) {
  .program-selection {
    margin-bottom: 83px;
  }
  .program-selection .container {
    padding-left: 55px;
    padding-right: 55px;
  }
  .program-selection__group--cat {
    margin-bottom: 0;
  }
  .program-selection__group--program {
    margin-bottom: 45px;
  }
  .program-selection__layout {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 75px;
         column-gap: 75px;
    margin-bottom: 2px;
  }
  .program-selection__layout--2-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .program-selection__button {
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .program-selection__footnote {
    display: none;
  }
}
.program__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
}
.program__item {
  display: grid;
  grid-template-rows: -webkit-min-content auto -webkit-min-content;
  grid-template-rows: min-content auto min-content;
  box-sizing: border-box;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 18px;
}
.program__title {
  position: relative;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-left: 70px;
  padding-top: 10px;
}
.program__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
  left: -70px;
  bottom: -6px;
}
.program__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program__title--slimming::after {
  width: 36px;
  height: 50px;
  left: -60px;
  bottom: -6px;
  background-image: url("../img/icon-cat-slim.svg");
}
.program__title--weight::after {
  width: 67px;
  height: 28px;
  left: -78px;
  bottom: 6px;
  background-image: url("../img/icon-cat-pro.svg");
}
.program__description {
  color: #444444;
  padding-top: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 20px;
}
.program__button {
  position: relative;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.program__button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  left: 100px;
  bottom: 6px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program__button:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program {
    margin-top: -36px;
  }
  .program__item {
    min-height: 372px;
    margin-bottom: 30px;
    padding-left: 52px;
    padding-right: 280px;
    padding-top: 77px;
    padding-bottom: 53px;
  }
  .program__title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 0;
  }
  .program__title::before {
    width: 200px;
    height: 200px;
    left: auto;
    bottom: auto;
    right: -220px;
    top: 15px;
  }
  .program__title::after {
    left: auto;
    bottom: auto;
  }
  .program__title--slimming::after {
    width: 140px;
    height: 192px;
    right: -188px;
    top: 5px;
  }
  .program__title--weight::after {
    width: 268px;
    height: 112px;
    right: -250px;
    top: 63px;
    margin-bottom: 80px;
  }
  .program__description {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: none;
  }
  .program__button {
    font-size: 20px;
    line-height: 30px;
  }
  .program__button::before {
    left: 133px;
    bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .program {
    margin-top: 30px;
  }
  .program__list {
    display: grid;
    grid-template-columns: 47% 47%;
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
  .program__item {
    padding-right: 50px;
  }
  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 160px;
    margin-bottom: 45px;
  }
  .program__title::before {
    width: 100px;
    height: 100px;
    bottom: auto;
    left: -160px;
    top: -30px;
  }
  .program__title::after {
    width: 100px;
    height: 100px;
    bottom: auto;
    right: auto;
  }
  .program__title--slimming::after {
    width: 70px;
    height: 98px;
    left: -145px;
    top: -35px;
  }
  .program__title--weight::after {
    width: 134px;
    height: 56px;
    left: -175px;
    top: -10px;
  }
  .program__description {
    margin-bottom: 0;
  }
  .program__button {
    padding-bottom: 3px;
  }
}
.promo {
  min-height: 487px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
.promo__container {
  background-color: #5EAA2F;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 305px;
  text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__container {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}
.promo__top {
  position: relative;
}
.promo__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
}
.promo__subtitle {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 15px;
}
.promo__img {
  position: absolute;
  left: calc(50% - 140px);
}
.promo__bottom {
  align-self: end;
}
.promo__button {
  display: block;
  background-color: #68B738;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 8px;
  margin-top: -45px;
}
.promo__button:hover,
.promo__button:focus {
  background-color: #5EAA2F;
}
.promo__button:active span {
  background-color: #5EAA2F;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .promo {
    min-height: 872px;
    position: relative;
  }
  .promo__container {
    background-color: #ffffff;
    background-image: url("../img/index-background-index-can-tablet@1x.jpg");
    text-align: left;
  }
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-left: 87px;
    padding-top: 40px;
  }
  .promo__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 87px;
    padding-top: 8px;
    margin-bottom: 5px;
  }
  .promo__img {
    position: static;
    display: block;
    margin: 0 auto;
  }
  .promo__button {
    font-size: 20px;
    line-height: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 87px;
    position: absolute;
    top: 315px;
  }
}
@media (min-width: 1200px) {
  .promo {
    position: relative;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
    min-height: 565px;
    margin-bottom: 84px;
  }
  .promo__container {
    background-color: #ffffff;
    background-image: none;
    max-width: 610px;
    text-align: left;
    margin-left: auto;
    margin-right: 115px;
  }
  .promo__top {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
  .promo__title {
    color: #000000;
    padding-top: 95px;
    padding-left: 55px;
  }
  .promo__subtitle {
    color: #000000;
    padding-left: 55px;
  }
  .promo__img {
    position: absolute;
    top: 10px;
    left: 420px;
    z-index: 10;
    max-width: 552px;
  }
  .promo__bottom {
    align-self: stretch;
    background-color: #5EAA2F;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    position: relative;
  }
  .promo__button {
    position: absolute;
    left: -618px;
    top: 372px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .promo__bottom {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
.show-all {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}
.show-all__title {
  position: relative;
  font-family: "Oswald";
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  padding-top: 63px;
  margin-bottom: 9px;
}
.show-all__title::after {
  content: "";
  position: absolute;
  top: 10px;
  right: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.show-all__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.show-all__button {
  background-color: #F2F2F2;
  color: #444444;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
  padding-top: 11px;
  padding-bottom: 8px;
}
.show-all__button:hover,
.show-all__button:focus {
  background-color: #EBEBEB;
}
.show-all__button:active span {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .show-all {
    border: 1px solid #EBEBEB;
    margin-top: 80px;
  }
  .show-all__title {
    color: #111111;
    font-size: 20px;
    line-height: 22px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 145px;
    margin-bottom: 24px;
  }
  .show-all__title::after {
    top: 35px;
    right: calc(50% - 30px);
    width: 60px;
    height: 60px;
  }
  .show-all__text {
    font-size: 16px;
    line-height: 18px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .show-all__button {
    margin-left: 38px;
    margin-right: 38px;
    font-size: 16px;
    margin-top: 85px;
  }
}
@media (min-width: 1200px) {
  .show-all__title {
    padding-left: 39px;
    padding-right: 39px;
  }
  .show-all__text {
    padding-left: 39px;
    padding-right: 39px;
  }
  .show-all__button {
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 65px;
  }
}
.site-list__item {
  text-align: center;
  border-top: 1px solid #e7e7e7;
  padding-top: 22px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.site-list__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.site-list__text:hover,
.site-list__text:focus {
  opacity: 0.6;
}
.site-list__text:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__item {
    margin-left: 35px;
    border-top: none;
  }
  .site-list__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .site-list__item--active {
    border-bottom: 1px solid #68B738;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    margin-left: 35px;
  }
  .site-list__text {
    font-size: 20px;
    line-height: 30px;
  }
  .site-list__item--index .site-list__text {
    color: #ffffff;
  }
  .site-list__item--index.site-list__item--active {
    border-color: #ffffff;
  }
}
.slider-weight-change {
  position: relative;
}
.slider-weight-change__label {
  font-family: "Oswald";
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.slider-weight-change__label--left {
  justify-self: end;
}
.slider-weight-change__label--right {
  justify-self: start;
}
.slider-weight-change__label--right::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 12px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  left: calc(50% - 44px);
  top: 65%;
  background-color: #ffffff;
}
.slider-weight-change__label--right::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  left: calc(50% - 39px);
  top: 73%;
  background-color: #68B738;
}
.slider-weight-change__slider {
  justify-self: center;
}
.slider-weight-change__slider:checked + label::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  left: calc(50%);
  top: 73%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .slider-weight-change__label {
    font-size: 20px;
    line-height: 30px;
    margin-top: -5px;
    border-bottom: 1px dotted #BABABA;
  }
  .slider-weight-change__label--right::before {
    width: 428px;
    height: 6px;
    border: none;
    left: calc(50% - 214px);
    top: 65%;
    background-color: #D9D9D9;
  }
  .slider-weight-change__label--right::after {
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border: 12px solid #ffffff;
    border-radius: 50%;
    left: calc(50% - 15px);
    top: 42%;
    -webkit-filter: drop-shadow(0 0 1px #CDCDCD) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
            filter: drop-shadow(0 0 1px #CDCDCD) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  }
  .slider-weight-change__slider:checked + label::after {
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border: 12px solid #ffffff;
    border-radius: 50%;
    left: calc(50% - 15px);
    top: 42%;
    -webkit-filter: drop-shadow(0 0 1px #CDCDCD) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
            filter: drop-shadow(0 0 1px #CDCDCD) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  }
}
@media (min-width: 1200px) {
  .slider-weight-change {
    margin-top: -15px;
  }
}
.social__list {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 2px;
}
.social__item {
  text-align: center;
}
.social__link svg {
  fill: #666666;
}
.social__link:hover svg,
.social__link:focus svg {
  fill: #68B738;
}
.social__link:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link--vkontakte svg {
    width: 30px;
    height: 22px;
  }
  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }
  .social__link--facebook svg {
    width: 13px;
    height: 27px;
  }
}

/*# sourceMappingURL=style.css.map */
